body {
  margin: 0;
  padding: 50px;
  font: normal 18px/1.4 Arial, sans-serif;
}
.picker {
  display: flex;
  align-items: center;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(15%);
  left: 20;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bpw-header-container {
  width: 500px;
  height: 100px;
  background-color: #000000; /* Initial color */
  margin-left: auto; /* Initial color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 10px 10px 0px 0px;
}
.rectangle2 {
  position: absolute;
  top: 13.5%;
  right: 4.5%;
  width: 500px;
  height: 800px;
  padding: 5px 25px;
  border-radius: 0px 0 10px 10px;
  background-color: #000000; /* Initial color */ /* Initial color */
}

input {
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin: 2px 10px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #eee;
  outline: none;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
}

input:focus {
  border-color: #4298ef;
}

.bpw-header-container h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.bpw-header-container p {
  font-size: 16px;
}

.bpw-from-bot,
.bpw-chat-bubble {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 200px;
}
.bpw-from-user,
.bpw-chat-bubble {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 200px;
}

.chat-avatar {
  width: 50px; /* Adjust the width as per your requirements */
  height: 50px; /* Adjust the height as per your requirements */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px; /* Adjust the positioning as per your requirements */
}

.chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.css-box {
  height: 740px !important;
  width: 100% !important;
  font-size: 16px;
}

.generator {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.generate-button {
  width: 410px;
  padding: 20px;
}
